.btn {
  background: rosybrown;
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  line-height: 1;
  flex: 1 1 20%;
  cursor: pointer;
  text-align: center;
  &:hover{
    background: darksalmon;
  }
}